# Project exclude paths
/achievements/target/
/afk-zone/target/
/auctionhouse/auctionhouse-bukkit/target/
/auctionhouse/auctionhouse-commons/target/
/auctionhouse/auctionhouse-master/target/
/check-system/target/
/code/target/
/commons/target/
/commons-bukkit/target/
/crates/target/
/daily-reward/target/
/economy/target/
/essentials/target/
/kits/target/
/lobby/target/
/mines/target/
/player-sync/target/
/proxy-core/target/
/punishment/target/
/ranking/target/
/reward/reward-api/target/
/reward/reward-bukkit/target/
/reward/reward-discord-bot/target/
/reward/target/
/scratch/target/
/shulker/target/
/time-played/target/
/wallet/target/
/wallet-api/target/